//My variables
$button-inactive-color: #545d62;
$button-hover-color: #b6c0c3;
$accent-color: orange;
$menu-bar-bg: #13191c;
$banner-bg: #29353b;
$split-bg:#13191c;
$split-size: 8px;
$split-border: #29353b;

//Bootstrap overrides
$body-bg: #0f1416;
$body-color: #bcc6c9;
$enable-rounded: false;
$component-active-color: $accent-color;
$secondary: #13191c;
$active: $accent-color;
$nav-tabs-link-active-color:  #13191c;
$nav-tabs-link-active-bg: $accent-color;
$nav-tabs-link-hover-border-color: $accent-color;
$nav-tabs-link-active-border-color: $accent-color;
$nav-tabs-link-hover-color: #29353b;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
